body {
    display: flex;
}
.resourceBox {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top-style: solid;
    /* height: ; */
    max-height: 20rem;
    overflow: auto;
    span {
        display: block;
    }

    .option {
        display: block;
        overflow: auto;
        overflow-x: auto;
        overflow-y: auto;
    }

}
.sideBarTitle {
    padding: 4px;
    display: block;
    font-weight: bold;
    background-color: rgb(189, 189, 171);


}


.sideBar {
    width: 18vw;
    height: 100vw;
    border-style: solid;
    border-radius: 7px;
    background-color: beige;
    margin: 2px;
    padding: 4px;
    height: 100vw;
}

.main {
    width: 73vw;
    height: 100vw;
    border-style: dotted;
    display: felxbox;
    flex-wrap: wrap;
    background-color: lightblue;
    margin: 2px;
    border-radius: 7px;

}