body {
    display: flex;
}
.resourceBox {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top-style: solid;

    span {
        display: block;
    }

    .option {
        display: block;
    }

}
.sideBarTitle {
    padding: 4px;
    display: block;
    font-weight: bold;
    background-color: rgb(189, 189, 171);


}


.sideBar {
    width: 15vw;
    height: 100vw;
    border-style: solid;
    border-radius: 7px;
    background-color: beige;
    margin: 2px;
    padding: 4px;
}

.main {
    width: 83vw;
    height: 100vw;
    border-style: dotted;
    display: felxbox;
    flex-wrap: wrap;
    background-color: lightblue;
    margin: 2px;
    border-radius: 7px;

}